<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Shopping List Manager</ion-card-title>
      <ion-card-subtitle>Bài thực hành 2 - Ionic</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>
        Ứng dụng giúp người dùng quản lý danh sách mua sắm,
        cho phép xem và thêm các sản phẩm cần mua.
      </p>
      <p>
        Ứng dụng được xây dựng bằng <strong>Ionic Framework</strong>
        và <strong>Angular Standalone Components</strong>.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
